<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Myshop · Phoenix Framework</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  </head>
  <body>
</div>
    <header>
      <section class="container">
        <nav role="navigation">
        </nav>
        <a href="http://phoenixframework.org/" class="phx-logo">
        <img src="<%= Routes.static_url(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #000;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
</style>
<body>
<div class="navbar">
  <a href="<%= Routes.manageorder_path(@conn, :index) %>"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="<%= Routes.manageorder_path(@conn, :index) %>"><i class="fa fa-fw fa-shopping-cart"></i> New Order</a> 
  <a href="<%= Routes.payment_path(@conn, :index) %>"><i class="fa fa-fw fa-money"></i> Show Payments</a> 
  <a href="<%= Routes.product_path(@conn, :index) %>"><i class="fa fa-fw fa-material-icons"></i> Manage Products</a> 
  <a href="<%= Routes.user_path(@conn, :index) %>"><i class="fa fa-fw fa-users"></i> Manage Users</a> 
  <%= if @current_user do %>
  <%= @current_user.first_name %>
  <%= link "Log out", to: Routes.session_path(@conn, :delete, @current_user), method: "delete" %>
  <% else %>
  <%= link "Register", to: Routes.user_path(@conn, :new) %><%= link "Log in", to: Routes.session_path(@conn, :new) %>
  <% end %>
</div>

      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
