<h1>Show Lenfree</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @lenfree.name %>
  </li>

  <li>
    <strong>Items:</strong>
    <%= @lenfree.items %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.lenfree_path(@conn, :edit, @lenfree) %></span>
<span><%= link "Back", to: Routes.lenfree_path(@conn, :index) %></span>
